<!-- About Section -->
<section class="page-section bg-primary" id="about">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="text-white mt-0">Unfallia, the World of Shadow</h2>
        <hr class="divider light my-4">
        <p class="text-white-50 mb-4">
          Unfallia is a realm of shadows and magic, on the fringes of reality situated between the material world and the all-consuming void.
        </p>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="/maps">Browse Maps</a>
      </div>
    </div>
  </div>
</section>
